#green_div{
    background-image: url("../images/bg.jpg");
    padding: 2px;
    height: 421px;
}

#green_div div{
    padding: 5px;
    flex: 1;
    text-align: center;
}

#general{
    height: 421px;
    position: relative;
    margin-top: -421px;
}

#general div{
    height: 420px;
    width: 100%;
    background-color: rgba(230, 230, 230, .95752);
}

#row-btn{
    background-image: url("../images/bg.jpg");
}

#row-btn button{
    margin: 5px;
}
.table-two{
    margin: 0 auto;
    margin-bottom: 10px;
}